/* Mobile First Design - starting with phone - up to 500px wide */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, sans-serif;
}

/*  Note that %'s used on widths, margin, padding, etc... are always a percentage of the container element's width, etc... */
