#colorPalette {
  color: #080705;
  color: #40434E;
  color: #702632;
  color: #912F40;
  color: #FFFFFA;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  display: flex;
}

header img {
  width: 64px;
  background-color: lightblue;
}

#userName {
  margin-left: auto;
}

#graphContainer {
  display: flex;
}

#graphPlaceholder {
  border: 1px solid blue;
  width: 70%;
  height: 500px;
}

#graphOptions {
  border: 1px solid purple;
}

#breakdownContainer {
  display: flex;
}

#expenses {
  border: 1px solid red;
  width: 50%;
}

#income {
  border: 1px solid green;
  width: 50%;
}