@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #c8cbdb;
  color: #2e0000;
  font-family: poppins;
}

.wrapper {
  background-color: #fff;
  width: 99%;
  margin: 0 auto;
}

header {
  background-color: #15164b;
  color: #e6e7ed;
  padding: 10px 30px 10px;
  margin: 0;
  text-align: center;
}

header > h1, footer > h1 {
  color: #50b3e8;
  font-size: 2.2em;
  line-height: .8em;
}

header span, footer span {
  color: #e6e7ed;
  font-size: .7em;
}

#topNav {
  text-align: center;
}

#topNav a {
  color: #4647a7;
}

nav {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

main {
  margin-top: 0;
}

main > div {
  text-align: center;
  margin: 0;
  padding: 0;
}

main div img {
  width: 82%;
  max-width: 100%;
}

main > h2 {
  background-color: #15164b;
  color: #e6e7ed;
  font-family: "Marck Script", impact;
  font-size: 3.2rem;
  font-weight: 400;
  text-indent: 10%;
  margin-top: -7px;
  padding: 1.25rem;
}

#exploreJuneau {
  background-color: #fff;
  color: #15164b;
  margin-top: 3rem;
  margin-bottom: 0;
}

main ul {
  list-style-image: url(images/marker.gif);
  margin-top: 0;
}

.exploreOptions {
  list-style-image: none;
  list-style-type: none;
}

main .exploreOptions li {
  line-height: .8rem;
}

main .exploreOptions li a   {
  display: inline-block;
  text-indent: 1rem;
}

aside {
  text-align: center;
  background-color: #fff;
}

dt {
  font-weight: bold;
}

footer {
  background-color: #15164b;
  color: #e6e7ed;
  font-size: .8em;
  font-style: italic;
  text-align: center;
}

footer a {
  color: #e6e7ed;
}